html {
  scroll-behavior: smooth !important;
  font-family: "Roboto";
  overflow: auto !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #585756;
}

::-webkit-scrollbar-thumb:hover {
  background: #797776;
}

body {
  background-color: lavender !important;
  margin: 0;
  padding: 0;
}

.toast {
  font-family: "Roboto";
  font-weight: bold;
}

.outline-icon {
    border: 1px solid #607d8b;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    background-color: lavender;
}

.cur-point {
    cursor: pointer;
}
